.logo {
  color: red;

}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: darkgreen;

}
nav{
  display: flex;
  space-between: 20px;

}
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 200px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.hero {
  text-align: center;
  padding: 50px;
  background-color: orange;
}
.hero-text {
  font-size: 24px;
  color: black;
}
.match {
  padding: 10px;
  background-color: lightblue;
}
.matches-list {
  padding: 10px;
  background-color: lightgray;
}
.matches-test {
  padding: 10px;
  background-color: yellow;
}
.matches {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  padding: 20px;
}
.matches-header {
  text-align: center;
  padding: 10px;
  background-color: lightblue;
}
 .roster {
  display: flex;
  justify-content: space-between;
  background-color: lightgreen;
  padding: 20px;
 }
.roster-header {
  text-align: center;
  padding: 10px;
  background-color: lightgreen;
}
