.footer {
    padding: 45px 0;

    background: #040906;

    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 30px;
}

.footer p {
    margin-top: 8px;

    color: #737d77;

    font-size: 13px;
}

.footer-right {
    text-align: right;
}

.footer-right span {
    color: #e52b35;

    font-size: 13px;
}

