

.box {
    width: $box-width;
    height: 100px;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box h1 {
    font-family: $font;
    font-size: $contact-font-size;
    font-weight: $button-font-weight;
    text-transform: uppercase;
    color: $color3;
}



.hero {
    width: $box-width;
    height: 230px;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
   
}


.hero article {
    width: 280px;
    text-align: center;
}



.hero article img {
    width: $weight-hero;
    height: $weight-hero;

    object-fit: contain;

    border: 1px $border;
    border-radius: 50%;

    padding: 7px;

    margin: 0 auto 8px auto;

    display: block;
}


.hero article h3 {
    font-family: $font;
    font-size: $font-size;
    font-weight: $button-font-weight;

    margin-bottom: 8px;

    color:$color3;
}



.hero article p {
    font-family: $font;

    font-size: $font-size2;
    line-height: $font-size2;

    color: $color4;

    margin: 0 auto;

    max-width: 250px;
}



