$bg-color: #222222;
$bg-color2: #FED136;
$color:#ffffff;
$font:Arial, Helvetica, sans-serif;
$color2: #FED136;
$border:solid #ffc800;
$color3: #222;
$color4: #777;
$button-font-weight: 700;
$button-font-size: 9px;
$textarea-font-size: 8px;
$contact-font-size: 20px;
$font-size: 15px;
$font-size2: 12px;
$weight-hero:30px;
$box-width:934px;
$header-width: 153px;
$footer-width: 296px;